/*-------------------------------------- MEDIA QUERIES ---*/
 @media only screen and (min-width: 768px) and (max-width: 959px)  {
	 img {max-width: 100%;}	
	.grid_1 { width: 44px;}
	.grid_2 { width: 108px;}
	.grid_3 { width: 172px;}
	.grid_4 { width: 236px;}
	.grid_5 { width: 300px;}
	.grid_6 { width: 364px;}
	.grid_7 { width: 428px;}
	.grid_8 { width: 492px;}
	.grid_9 { width: 556px;}
	.grid_10 { width: 620px;}
	.grid_11 { width: 684px;}
	.grid_12 { width: 748px;}
	
	.toggleMainColumn .toggleContent {
		width:	492px;}
		
	.events	.info {
		width: 140px;}
	#MenuBar.grid_8 {
		width: 580px;
	}		
}


@media only screen and (max-width: 767px)  {
	
	img {max-width: 100%;}
		
	#Logo {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding-top: 10px;
		}			
	#Logo {
		float: left;
		margin-top: 2px;
		text-align: left;
	}
	header {
		position: static;
		height: auto;
	}
	.baseHeader {
		padding: 0;
	}	
	#MenuBar ul {display: none;}
	#MenuBar {
		background: url("../images/mobileMenu.png");		
		height: 30px;
		cursor: pointer;
		width: 42px;
		margin: 6px 0 0 0;
		float: right;
	}
    #MenuBar select {
		display: block;
		cursor: pointer;
	}		
	.slogan .grid_8 {
		width: auto;
	}
	div.slogan a.button {
		float: none;
		margin: 0 auto;
		display: inline-block;
	}
	.mainServices {
		text-align: left;
		overflow: hidden;
		margin-bottom: 25px;
	}
	.mainServices h4 {
		margin: 8px 0;
	}
	.mainServices h4,
	.mainServices p {
		padding-left: 95px;
	}
	.mainServices .picture {
		float: left;
		width: 80px;
		text-align: center;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
 	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5, 
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11, 
	.grid_12 { 
		width: 460px;
		margin: 0 0 20px 0;
		float: none;
		display: block;}
		
	.grid_12 {
		margin: 0 auto;}
	
	.toggleMainColumn .toggleContent {
		width: 460px;}

	.introNote img {
		width: 200px;
		display: inline-block;}
	.introNote ul {
		width: 230px;
		vertical-align: top;
		margin: 0 0 0 15px;
		display: inline-block;
	}
}

@media only screen and (max-width: 479px) {
 	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5, 
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11, 
	.grid_12,
	.errorNotFound  { 
		width: 300px;
		margin: 0 0 20px 0;
		float: none;
		display: block;}
	.grid_12 {
		margin: 0 auto;}	

	.toggleMainColumn .toggleContent {
		width: 300px;}

	h1 {
		font-size: 1.8em;}
	.slogan h2 {
		font-size: 1.3em;}
	.slogan a.button {
		font-size: 1em;
		padding: 5px 10px;
	}
	h1 span.info {
		display: none;}
	#contactform .buttonAlign {
		margin-left: 0px;
	}		
}

@media screen and (max-width: 760px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}