/*
	Template Name: ELEVATE
	Author: Loreleyyy
	Type: HTML5/CSS3
	Version: 1.0

*/

/* RESET 
------------------------------------------------------------ */
body, p, div, h1, h2, h3, h4, h5, h6, ul, ol, li, address, dl, dt, dd, form, textarea, input, fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, pre, code, blockquote {
	margin:	0;
	padding: 0;
	font-size: 100%;}
fieldset {
	border:	none;}
ol,ul {  
    list-style-type: none;}
a img, img {
	border:	none;
	outline: none;}
a {
	outline: none;}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;}
abbr, acronym {	
	border:	none;}
sup, sub {
	line-height: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
html {
	-webkit-font-smoothing: antialiased;
}	
/* CLEARFIX
------------------------------------------------------------ */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* 960 GRID
------------------------------------------------------------ */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
	}
.grid_1 { width: 60px;}
.grid_2 { width: 140px;}
.grid_3 { width: 220px;}
.grid_4 { width: 300px;}
.grid_5 { width: 380px;}
.grid_6 { width: 460px;}
.grid_7 { width: 540px;}
.grid_8 { width: 620px;}
.grid_9 { width: 700px;}
.grid_10 { width: 780px;}
.grid_11 { width: 860px;}
.alpha { margin-left: 0;}
.omega { margin-right: 0;}

.vspaced { padding-top:	20px;}
.baseSpaced { margin-bottom: 20px;}

.grid_12 {
  	width: 940px;
	margin: 0 auto;
	float: none;
	display: block;
	text-align: left;
	}

/* LAYOUT
------------------------------------------------------------ */
body {
	background: #f4f4f4 url('../images/body-bg.jpg') repeat top left;
	background-attachment: fixed;
	font: 80%/1.6em 'Droid Sans', Arial, sans-serif;
	text-align:	center;
	color: #4A595E;
	}

#PageWrapper {
	text-align: left;
	padding: 20px 10px 30px 10px;
	}
	
/* HEADER
------------------------------------------------------------ */
.headerWrap {
	width: 100%;
	z-index: 100;
}
.baseHeader {
	padding-top: 80px;
}
header {
	text-align:	left;
	background:  #676f73 url("../images/header-bg.jpg") repeat-x bottom left;
	margin-bottom: 30px;
	border-bottom: 1px solid #3c4146;
	-webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 15px rgba(0, 0, 0, .3);	
	box-shadow: 0 3px 15px rgba(0, 0, 0, .3);	
	position: fixed;
	width: 100%;
	height: 45px;
	z-index: 1000;
	left: 0;
	top: 0;
	}
#Logo {
	margin-top: 13px;
	width: 150px;
	float: left;
	}
/* MENU
------------------------------------------------------------ */
#MenuBar {
	position: relative;
	z-index: 101;
	height: 45px;
	text-align: right;
	}	
#MenuBar select {
	opacity: 0;
	z-index: 30;
	display: none;
	font-weight: bold;
	padding: 5px 0;
	width: 42px;
	margin-top: 5px;
	text-align: left;
	}
#MenuBar .navList {
	margin: 0;
	height: 45px;
	}
.navList li:hover {
	visibility:	inherit;
	}
.navList li {
	display: inline-block;
	margin-right: -3px;
	position: relative;
	height: 45px;
	}
.lt-ie9 .navList li {
	margin-right: -1px;	
	}	
.lt-ie8 .navList li {
	display: inline;
	zoom: 1;
	vertical-align: top;
	}
.navList li a {
	color: #c8cccd;
	padding: 0 21px;
	line-height: normal;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0 -1px 0 #3b3b3b;
	display: block;
	height: 45px;
	line-height: 45px;
	margin-left: -1px;
	position: relative;
	border: 1px solid transparent;
	border-width: 0 1px;
	}
.navList .selected   {
	background: rgba(0, 0, 0, .1);
	border: 1px solid #42484c;
	border-width: 0 1px;
	color: #fe712c;
	}
.lt-ie9 .navList .selected {
	background: #495053;	
	}	
.navList li a:hover,
.navList li.sfHover > a {
	text-decoration: none;
	color: #f56a26;
	background: rgba(160, 160, 160, .1);
	text-shadow: 0 -1px 0 #4e4e4e;
	border: 1px solid #6e6e6e;
	border-width: 0 1px;
	-o-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	}
.lt-ie9 .navList li a:hover,
.lt-ie9 .navList li.sfHover > a	{
	background: #5c6366;
	}
.navList ul {
	background:	#e7e8ea;
	line-height: normal;
	width: 178px;
	padding: 0;
	text-align: left;
	position: absolute;
	top: -999em;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #3d4145;
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	}
.navList ul li {
	padding: 0;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	margin: 0;
	height: auto;
	display: block;
	}	
.navList ul a {
	color: #4a595e;
	display: block;
	height: auto;
	line-height: normal;
	float: none;
	outline: none;
	font-weight: normal;
	border: none;
	padding: 7px 5px 7px 15px;
	text-transform:	none;
	text-shadow: 0 1px 0 #fff;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	}
.navList ul ul {
	border-top: 1px solid #fff;
	}
.navList ul a:hover {
	color: #e15c1b;
	text-decoration: none;
	margin-left: 6px;
	outline: none;
	border: none;
	background: none;
	text-shadow: 0 1px 0 #fff;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	}
.lt-ie9 .navList ul a:hover {
	cursor: pointer;
	background: none!important;	
	}
.navList li:hover ul,
.navList li.sfHover ul {
	left: -1px;
	top: 45px; /* match top ul list item height */
	z-index: 99;
	}
ul.navList li:hover li ul,
ul.navList li.sfHover li ul {
	top: -999em;
	}
ul.navList li li:hover ul,
ul.navList li li.sfHover ul {
	left: 178px; /* match ul width */
	top: 0;
	}
ul.navList li li:hover li ul,
ul.navList li li.sfHover li ul {
	top: -999em;
	}
ul.navList li li li:hover ul,
ul.navList li li li.sfHover ul {
	left: 180px; /* match ul width */
	top: 0;
	}
.navList li:hover,
.navList li.sfHover,
.navList a:focus,
.navList a:hover,
.navList a:active {
	outline: 0;
	}

.navList a.sf-with-ul {
	min-width:	1px; /* trigger IE7 hasLayout so spans position accurately */
	}
.navList ul li.sfHover a,
.navList ul li:hover a {
	background: none;
	text-shadow: none;
	border: none;
	}
	
/* FLOATS
------------------------------------------------------------ */
.clear {
	clear: both;
    line-height: 0;
    overflow: hidden;
	}
.floatRight {
	float: right;
	}
.floatLeft {
	float: left;
	}

/* TYPOGRAPHY
------------------------------------------------------------ */
p {
	margin-bottom: 1.6em;
	}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
	font-family: 'Droid Serif Regular', Georgia, serif;
	letter-spacing: 0;
	color: #4a595e;
	text-shadow: 0 1px 0 #fff;
	}
h1 {
	font-size: 2.4em;
	}
h2 {
	font-size: 2em;
	}
h3 {
	font-size: 1.8em;
	}
h4 {
	font-size: 1.6em;
	}
h5 {
	font-size: 1.4em;
	}
h6 {
	font-size: 1.2em;
	}
a {
	color: #F06B29;
	text-decoration: none;
	-o-transition: color 0.2s ease-in;
	-webkit-transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	transition: color 0.2s ease-in;
	}
a:hover {
	color: #4a595e;
	}
a.active {
	color: #F06B29;	
}	
strong {
	font-weight: bold;
	}
	
/* PAGE HEADINGS
------------------------------------------------------------ */
.pageTitle {
	margin-bottom: 20px!important;
	text-align: left;
}	
.pageTitle h1 {
	margin: 0;
	padding: 0;
	line-height:1.2;
	}
.pageTitle h1 span.info {
	font-size: 13px;
	color: #676a6c;
	font-style: italic;
	vertical-align: middle;
	}


/* START SHORTCODES 
------------------------------------------------------------ */
		
/* DROP CAPS
------------------------------------------------------------ */
p .cap {
	text-shadow: 0 1px 0 #fff;
	line-height: 1em;
	float: left;
	}
p .cap_one {
	font-size: 300%;
	padding-right: .2em;	
	}

p .cap_two {
	font-size: 260%;
	margin-right: .2em;
	text-align: center;
	width: 41px;
	color: #fff;
	text-shadow: 0px -1px 0 #000;
	line-height: 41px;
	height: 41px;
	background: url("../images/round_cap.png") no-repeat left top;	
	}

p .cap_three {
	font-size: 260%;
	margin-right: .2em;
	text-align: center;
	border: 1px solid #fff;
	background: #e3e3e3;
	height: 40px;
	width: 40px;
	text-shadow: 0px -1px 0 #000;
	line-height: 42px;
	-moz-border-radius:	4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	}

/* PULLQUOTES
------------------------------------------------------------ */
.quoteBox {
	margin-bottom: 1em;
	}
blockquote {
	padding-left: 40px;
	background:	transparent url('../images/quote.png') no-repeat left top!important;
	}
blockquote p {
	margin-bottom: 5px;
	}
.pullQuoteRight,
.pullQuoteLeft {
	font-style: italic;
	background:	url('../images/quote.png') no-repeat left top;
	width: 200px;
	float: left;
	padding-left: 40px;
	margin: 0 15px 5px 0;
	}
.pullQuoteRight {
	margin:	0 0 5px 15px;
	float:	right;
	}
p.author {
	text-align: right;
	margin:	0;
	}
	
/* SEPARATORS
------------------------------------------------------------ */
.separator {
	background:	#fff;
	border-top:	1px solid #b9c0c8;
	margin:	2em 0 2.3em 0;
	height:	1px;
	clear: both;
	overflow: hidden;
	}

.headSeparator {
	background: url("../images/lineSep.jpg") repeat-x bottom left;
	padding-bottom: .8em;	
	}
	
/* LISTS
------------------------------------------------------------ */
ul, ol {
	margin-bottom: 1em;
	}
.arrowList li, 
.plusList li,
.bulletList li,
.checkList li,
.numeberedList li,
.squareList li,
.checkListGreen li,
.starList li {
	background: url('../images/lists/arrow.png') no-repeat left 5px;
	margin-bottom: .4em;
	padding-left: 1.4em;
	}
.plusList li {
	background: url('../images/lists/plus.png') no-repeat left 5px;
	}
.bulletList li {
	background: url('../images/lists/bullet.png') no-repeat left 6px;
	}
.checkList li {
	background: url('../images/lists/tick.png') no-repeat left 5px;
	}
.squareList li {
	background: url('../images/lists/square.png') no-repeat left 6px;
	}
.starList li {
	background: url('../images/lists/star.png') no-repeat left 3px;
	padding-left: 1.6em;
	}
.numeberedList li {
	background:	none;
	padding: 0;
	margin-left: 1.3em;
	list-style:	decimal;
	}
.checkListGreen li {
	background: url('../images/lists/tickGreen.png') no-repeat left 3px;
	padding-left: 2em;
	}
.inlineLinks li {
	display: inline;
	padding-right: 12px;
	margin-right: 8px;
	background: url('../images/lists/bullet.png') no-repeat right 6px;
	}
.lastItem {
	border: none!important;
	background: none!important;
	}

/* SIDEBAR NAVIGATION
------------------------------------------------------------ */
.sideLinks a {
	color: #4a595e;
	padding: 5px 5px 5px 0;
	}
.sideLinks a.active,
.sideLinks a:hover {
	color: #F06B29;
}

/* IMAGES
------------------------------------------------------------ */
.imgLeft {
	float: left;
	margin: 0 1.5em 1em 0;
	}
.imgRight {
	float: right;
	margin: 0 0 1em 1.5em;
	}
	
/* NOTIFICATIONS
------------------------------------------------------------ */
.successBox,
.errorBox,
.warningBox,
.noticeBox {
	-moz-border-radius:	3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: .3em .8em;
	background:	#d3f3c4;
	text-shadow: 1px 1px 0 #f2f2f2;
	text-align: center;
	border:	1px solid #a7d393;
	-moz-box-shadow: inset 0px 1px 0px #f0faf1;
   	-webkit-box-shadow: inset 0px 1px 0px #f0faf1;
   	box-shadow:	inset 0px 1px 0px #f0faf1;
	}
.errorBox {
	border:	1px solid #ed9580;
	text-shadow: 1px 1px 0 #dfccc7;
	background:	#fac7b9;
	-moz-box-shadow: inset 0px 1px 0px #f8d6cd;
   	-webkit-box-shadow: inset 0px 1px 0px #f8d6cd;
   	box-shadow:	inset 0px 1px 0px #f8d6cd;
	}
.warningBox {
	border: 1px solid #e5bb69;
	text-shadow: 1px 1px 0 #fff;
	background: #fff0d1;
	-moz-box-shadow: inset 0px 1px 0px #fffaf5;
   	-webkit-box-shadow: inset 0px 1px 0px #fffaf5;
   	box-shadow:	inset 0px 1px 0px #fffaf5;
	}
.noticeBox {
	border:	1px solid #92cbe6;
	background: #d1e4ff;
	}

/* HIGHLIGHTED TEXT
------------------------------------------------------------ */
.highlight_one {
	background: #80bad8;
	padding: 0 5px;
	}
.highlight_two {
	background: #f1cc91;
	padding: 0 5px;
	}
.highlight_three {
	background: #a6da78;
	padding: 0 5px;
	}
.highlight_four {
	background: #ccc9c6;
	padding: 0 5px;
	}
.highlight_five {
	background: #ffa27a;
	padding: 0 5px;	
}

/* TABLES
------------------------------------------------------------ */
table {
	border-collapse: collapse;
	table-layout: fixed;
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
	}
table th, table td {
	padding: 7px;
	}

table a.button,
table a.button:link,
table a.button:visited {
	margin-top: 10px;
	}
table th {
	font-size: 1.1em;
	}

table.dark {
	-moz-box-shadow: 0px 1px 0 #fff;
   	-webkit-box-shadow: 0px 1px 0 #fff;
   	box-shadow:	 0px 1px 0 #fff;
	}
table.dark th {
	background: #5A6266;
	border-right: 1px solid #85888a;
	color: #eaeaea;	
	}
table.dark td {
	border: 1px solid #d0d0d0;
	border-top: none;	
	background: #ECEEEF;
	background: rgba(255, 255, 255, .3);	
	}

table.light {
	border: 1px solid #d0d0d0;
	-moz-box-shadow: 0px 1px 0 #fff;
   	-webkit-box-shadow: 0px 1px 0 #fff;
   	box-shadow:	 0px 1px 0 #fff;
	}
table.light th {
	background: #e4e6e7;
	}
table.light td {
	border-top: 1px solid #d0d0d0;
	background: #e4e6e7;
	}
table.light tr:nth-of-type(odd) td {	
	background: #ECEEEF;
	background: rgba(255, 255, 255, .3);
	}
	
/* FORMS
------------------------------------------------------------ */
label.txt {
	display: inline-block;
	float: left;
	width: 140px;
	padding-right: 5px;
	}
input[type="text"],
input[type="password"],
textarea {
	border:	1px solid #fff;
	-moz-box-shadow: inset 0px 0px 4px 0px #d4d4d4;
   	-webkit-box-shadow: inset 0px 0px 4px 0px #d4d4d4;
   	box-shadow:	inset 0px 0px 4px 0px #d4d4d4;
	background: #e3e3e3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	width: 200px;
	font-family: 'Droid Sans', Arial, sans-serif;
	}
textarea {
	padding: 10px;
}
input[type="text"]:focus,
textarea:focus {
	outline: none;
	-moz-box-shadow: inset 0px 0px 4px 0px #d4d4d4;
   	-webkit-box-shadow:	inset 0px 0px 4px 0px #d4d4d4;
   	box-shadow:	inset 0px 0px 4px 0px #d4d4d4;
	-o-transition:background-color 0.5s linear;
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;
	background:	#f0f2f3;
	}
input.error,
textarea.error {
	background: #f0f2f3;
	border: 1px solid #c74a2c;
	}
label.error {
	color: #c74a2c;
	vertical-align: top;
	margin-top: 5px;
	height: 18px;
	display: block;
	}

/* BUTTONS
------------------------------------------------------------ */
button {
	cursor: pointer;
	overflow: visible; 
	border: none;
	font-size: 1em;
	}
button.button:hover {
	cursor:	pointer;
	}
button.button,
a.button,
a.button:link,
a.button:visited {
	background: #ff6d3a;
	color: #fff;
	display: inline-block;
	margin: 0 0 1em 0;
	padding: 4px 12px;
	text-shadow: 0 1px 0 #ae5536;
	border-radius: 2px;
	-moz-box-shadow: 0px 1px 3px #c9cecf;
   	-webkit-box-shadow: 0px 1px 3px #c9cecf;
   	box-shadow: 0px 1px 3px #c9cecf;
	}	
	
button::-moz-focus-inner {
    padding: 0;
    border: 0;
	}
	
button:hover,
a.button:hover {
	background:	#e95421;
	text-decoration: none;
	-o-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;
	}

/* MEDIUM & LARGE BUTTONS
------------------------------------------------------------ */
button.mediumButton,
a.mediumButton,
a.mediumButton:link,
a.mediumButton:visited {
	padding: 6px 18px;
	font-size: 1.1em;
}
button.largeButton,
a.largeButton,
a.largeButton:link,
a.largeButton:visited {
	padding: 10px 35px;
	font-size: 1.3em;
}
button.fullButton,
a.fullButton,
a.fullButton:link,
a.fullButton:visited {
	display: block;
	text-align: center;
}

/* BLUE BUTTON
------------------------------------------------------------ */
button.blueButton,
a.blueButton,
a.blueButton:link,
a.blueButton:visited {
	background:	#2fa5dc;
	color: #fff;
	text-shadow: 0 1px 0 #0f75a5;
	}
a.blueButton:hover {
	background: #1a90c7; 
	text-decoration: none;
	}

/* RED BUTTON
------------------------------------------------------------ */
button.redButton,
a.redButton,
a.redButton:link,
a.redButton:visited {
	background:	#e63613;
	color: #fff;
	text-shadow: 0 1px 0 #be2a0c;
	}
a.redButton:hover {
	background: #be2a0c; 
	text-decoration: none;
	}
	
/* GREEN BUTTON
------------------------------------------------------------ */
button.greenButton,
a.greenButton,
a.greenButton:link,
a.greenButton:visited {
	background:	#0a817a;
	color: #fff;
	text-shadow: 0 1px 0 #07655f;
	}
a.greenButton:hover {
	background: #07655f; 
	text-decoration: none;
	}

/* GREY BUTTON
------------------------------------------------------------ */
button.greyButton,
a.greyButton,
a.greyButton:link,
a.greyButton:visited {
	background:	#778087;
	color: #fff;
	text-shadow: 0 1px 0 #626c75;
	}
a.greyButton:hover {
	background: #626c75; 
	text-decoration: none;
	}

/* BLACK BUTTON
------------------------------------------------------------ */
button.blackButton,
a.blackButton,
a.blackButton:link,
a.blackButton:visited {
	background:	#292c2d;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	}
a.blackButton:hover {
	background: #3f4242; 
	text-decoration: none;
	}
	
/* PAGINATION
------------------------------------------------------------ */
.pagination {
	margin-bottom:	1em;
	}	
.pagination .current,
.pagination a {
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
	color: #fff;
	padding: 4px 8px;
	background:	#F06B29;
	}	
.pagination a {
	color: #4A595E;
	background: #dcdcdc;
	border:	1px solid #fff;
	}
.pagination a:hover {
	background: #c2c2c2;
	text-decoration: none;
	o-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;	
	}
	
/* FILTER PORTFOLIO
------------------------------------------------------------ */
.filterLabel {
	float: left;
	margin-right: 10px;
	}
.filter {
	margin-bottom:	2.5em;
	float: left;
	}
.filter li {
	display: inline;
	}	
	
.filter a {
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
	color: #fff;
	padding: 2px 6px;
	margin-bottom: 5px;
	background:	#dcdcdc;
	color: #4A595E;
	display: inline-block;
	border:	1px solid #fff;
	white-space: pre;
}
.filter a:hover {
	background: #c2c2c2;
	text-decoration: none;
	o-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;	
}

.filter li.current a {
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
	color: #fff;
	padding: 2px 6px;
	background:	#F06B29;
	color: #fff;
	border: none;
	}

/* TOGGLE BOXES version 1
------------------------------------------------------------ */
.js .toggleContent {
	display: none;
}
.toggleMainColumn {
	padding-bottom: 25px;
}
.toggleMainColumn .toggleContent {
	width:	620px;
	padding-top: 20px;
	}
.toggle.active  a {
	color: #F06B29;	
}
.toggle a {
	color: #4A595E;
}
.toggle a:hover {
	color: #F06B29;
	}
		
.toggle_one .toggleHead {
	background: #eceeef;
	background: rgba(255, 255, 255, .3);
	border-bottom: 1px solid #fff;
	padding: 6px;
	font-size: 1.1em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
.toggle_one .toggle {
	background:	url('../images/icon_sprite.png') no-repeat left 2px;
	padding-left: 2em;
	font-size: 1em;
	margin:	0;
	text-shadow: none;
	}

.toggle_one .toggle.active {
	background:	url('../images/icon_sprite.png') no-repeat left -46px;
	}

/* TOGGLE BOXES version 2
------------------------------------------------------------ */
.toggle_two .toggleHead {
	background: url("../images/lineSep.jpg") repeat-x bottom;
	padding: 8px 0;
	font-size: 1.1em;
	}
.toggle_two .toggle {
	background:	url('../images/icon_sprite.png') no-repeat 0 -221px;
	padding-left: 1.2em;
	font-size: 1.1em;
	margin:	0;
	text-shadow: none;
	}	
.toggle_two .toggle.active {
	background:	url('../images/icon_sprite.png') no-repeat 0 -261px;	
	}

/* ACCORDION
------------------------------------------------------------ */
.accordion {
	margin-bottom: 20px;
	}
.accordion .head {
	background: #eceeef;
	background: rgba(255, 255, 255, .3);
	border-bottom: 1px solid #fff;
	padding: 6px;
	font-size: 1.1em;	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
.accordion .accordionCnt {
	padding: 15px 0;
	overflow: hidden;
	}
.accordion .accordionCnt p {
	margin-bottom: 10px;
}	
.accordion .head h4 {
	background:	url('../images/icon_sprite.png') no-repeat left 2px;
	padding-left: 2em;
	font-size: 1em;
	margin:	0;
	text-shadow: none;	
	}
.accordion .head a {
	color: #4A595E;	
	}
.accordion .head a:hover {
	color: #F06B29;	
	}
.accordion .head h4.active {
	background:	url('../images/icon_sprite.png') no-repeat left -46px;
	}
.accordion .head h4.active a {
	color: #F06B29;	
	}
		
/* TABS
------------------------------------------------------------ */
.tabsMinimal ul.nav {
	margin: 0;
	background: url("../images/lineSep.jpg") repeat-x bottom left;
	}
.tabsMinimal li.nav {
	float: left;
	padding-right: 2em;
	}
.tabsMinimal li.last {
	padding: 0;
	}
.tabsMinimal li.nav a {
	padding: .5em 0;
	color: #4A595E;
	float:left;
	}
.tabsMinimal li.nav a.active {
	border-bottom: 3px solid #F06B29;
	position: relative;
	color: #F06B29;
	}
.tabsMinimal li.nav a:hover {
	color: #F06B29;	
	}
.tabsMinimal .tabContent {
	font-weight: normal;
	padding-top: 1.5em;
	margin-bottom: 2em;
	}

.tabsBoxed ul.nav {
	margin: 0;
	}
.tabsBoxed li.nav {
	float: left;
	}
.tabsBoxed li.last {
	padding: 0;
	}
.tabsBoxed  li.nav a {
	color: #4A595E;
	padding: .5em .8em;
	float:	left;
	margin: 0 3px -1px 0;
	border: 1px solid transparent;
	position: relative;
	border-bottom: none;
	}

.lt-ie8 .tabsBoxed  li.nav a {
	margin: 0 3px -5px 0;	
	}

.tabsBoxed li.nav a.active {
	border: 1px solid #D0D0D0;
	border-bottom: #ECEEEF;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	background: #ECEEEF;
	background: rgba(255, 255, 255, .3);
	color: #F06B29;
	}
.tabsBoxed li.nav a:hover {
	color: #F06B29;	
	}	
.tabsBoxed .tabContent {
	padding: 1.5em;
	margin-bottom: 2em;
	background: #ECEEEF;
	background: rgba(255, 255, 255, .3);
	border: 1px solid #D0D0D0;
	-moz-box-shadow: 0px 1px 0 #fff;
   	-webkit-box-shadow: 0px 1px 0 #fff;
   	box-shadow:	 0px 1px 0 #fff;	
	}
.hide {
	display: none;
	}

/* TAGS
------------------------------------------------------------ */
.tags li {
	display: inline;
	}
.tags a {
	float: left;
	border:	1px solid #fff;
	-moz-border-radius:	4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #dcdcdc;
	color: #4A595E;
	float: left;
	margin: 0 .5em .5em 0;
	padding: 2px 6px;
	text-shadow: 0 1px 0 #fff;	
	}
.tags a:hover {
	text-decoration: none;
	background:	#c2c2c2;
	-o-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;	
	}

/* EVENTS
------------------------------------------------------------ */
.events	li {
	padding-bottom: 12px;
	margin-bottom: 14px;
	background: url("../images/lineSep.jpg") repeat-x bottom left;
	}
.events	.date {
	width: 50px;
	float: left;
	margin-right: 10px;
	text-align: center;
	}
.events .day {
	font-size: 1.6em;
	font-weight: bold;
	color: #646464;
	padding: 8px 0 5px 0;
	display: block;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius:  4px 4px 0 0;
	border-radius:  4px 4px 0 0;
	background: #DCDCDC;
	border-bottom: 1px solid #fff;
	text-shadow: 0 1px 0 #fff;
	}
.events .month {
	display: block;
	font-size: .9em;
	background: #C2C2C2;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius:  0 0 4px 4px;
	border-radius:  0 0 4px 4px;
	}
.events	.info {
	width: 200px;
	float: left;
	}
.events h5 {
	margin-bottom: 8px;
	}
.events p {
	margin: 0;
	}

/* LATEST NEWS
------------------------------------------------------------ */
.latestNews ul {
	margin: 0;
	}
.latestNews h6 {
	margin-bottom: 0px;
	}
.latestNews h6 a {
	color: #F06B29;
	}
.latestNews h6 a:hover {
	color: #4a595e;
	}	
.latestNews p {
	margin: 0;
	}
.latestNews .dtstart {
	color: #6f6f6f;
	font-size: .9em;
	}
.latestNews li {
	margin-bottom: 12px;
	padding-bottom: 10px;
	background: url("../images/lineSep.jpg") repeat-x center bottom;
	}

/* END SHORTCODES
------------------------------------------------------------ */


/* HOMEPAGE  - FLEX SLIDER
------------------------------------------------------------ */
.flexslider {
	background: url("../images/wideImg-shadow.png") no-repeat center bottom;
	padding-bottom: 18px;
	}
.lt-ie8 .flexslider {
	padding-bottom: 16px;
}
.flexslider .slides li {
	border: 1px solid #fff;
	border-width: 1px 0;
	}	

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;} 

.flexslider .slides > li {
	display: none; 
	position: relative;
	-webkit-backface-visibility: hidden;
	}
.flexslider .slides img {
	width: 100%;
	display: block;
	}
.flex-pauseplay span {
	text-transform: capitalize;
	}

/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/*.no-js .slides > li:first-child {display: block;}*/

.flexslider {
	margin: 15px 0;
	position: relative;
	}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
	}
.lt-ie8 .flex-viewport {
	height: 280px;
}	
.loading .flex-viewport {
	max-height: 300px;
	}
.flexslider .slides {zoom: 1;}

/* Caption style */
/* IE rgba() hack */
.flex-caption {
	background:none;  
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
}
.flex-caption {
	margin: 0;
	width: 96%;
	padding: 10px 2%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.4);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-size: 14px;
	height: 20px;
	line-height: 18px;
}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	display: block;
	background: url("../images/bg_direction_nav.png") no-repeat 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
	}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: 0px;
	}
.flex-direction-nav .flex-prev {
	left: 0px;
	}
.flexslider:hover .flex-next {
	opacity: 0.8;
	filter: alpha(opacity=80);
	right: 5px;
	}
.flexslider:hover .flex-prev {
	opacity: 0.8;
	filter: alpha(opacity=80);
	left: 5px;
	}
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
	opacity: 1;
	}
.flex-direction-nav .flex-disabled {
	opacity: .3!important;
	filter:alpha(opacity=30);
	cursor: default;
	}

/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -20px;
	text-align: center;
	}
.flex-control-nav li {
	margin: 0 2px;
	display: inline-block;
	zoom: 1;
	*display: inline;
	}
.flex-control-paging li a {
	width: 20px; 
	height: 20px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	background: url('../images/icon_sprite.png') no-repeat left -200px;
	}
.flex-control-paging li a.flex-active {
	cursor: default;
	background:	url('../images/icon_sprite.png') no-repeat left -168px;
	}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
	}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
	}
.flex-control-thumbs img {
	width: 100%;
	display: block;
	opacity: .7;
	cursor: pointer;
	}
.flex-control-thumbs img:hover {
	opacity: 1;
	}
.flex-control-thumbs .flex-active {
	opacity: 1; cursor: default;
	}

/* HOMEPAGE SLOGAN
------------------------------------------------------------ */
.slogan {
	background:	rgba(255, 255, 255, 0.4);
	padding: 2.2em 1.5em 1.5em 1.5em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #b5bcbe;
	margin: 3em 0 2.5em 0;
	-moz-box-shadow: 0 1px 6px rgba(80, 80, 80, .2);
   	-webkit-box-shadow: 0 1px 6px rgba(80, 80, 80, .2);
   	box-shadow:	0 1px 6px rgba(80, 80, 80, .2);
	}
.lt-ie9 .slogan {
	background: #e3e3e3
}
.slogan h2 {
	margin: 5px 0 .6em 0;
	font-size: 2em;
	line-height: normal;
	}
.slogan p {
	margin: 0;
	}
div.slogan a.button {
	float: right;
	margin: 20px 10px 0 0;
	}

/* RECENT WORK & SERVICES HOMEPAGE
------------------------------------------------------------ */
.works {
	text-align: center;
	}
.works h5 {
	margin-bottom: .4em;
}	
.works p {
	margin: 0;
}	
	
.mainServices {
	text-align: center;
}
.mainServices .picture {
	width: 79px;
	height: 79px;
	margin: 0 auto 20px auto;
	line-height: 79px;
	background: url("../images/serviceCircle.png") no-repeat left top;
}
.mainServices .picture:hover {
	opacity: .8;
	-o-transition: opacity 0.1s ease-in;
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;		
}
.mainServices h4 {
	color: #ff7747;
	margin-bottom: .8em;	
}
.mainServices .picture img {
	vertical-align: middle;
}
	
/* ZOOM IMAGES
------------------------------------------------------------ */	
a.colorbox {
	position: relative;
	display: block;
	background: #000;
}
a.colorbox img {
	display: block;
	max-width: 100%;
}
img.project {
	display: block;
	margin-bottom: 15px;
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	border-bottom: 1px solid #fff;
	}
img.zoom {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 13px;
	height: 13px;
}

/* SERVICES PAGE
------------------------------------------------------------ */
.services .main {
	overflow: hidden;
	margin-bottom: 30px;
	}
.services p {
	margin-bottom: 10px;
	}
.services .main img {
	margin: 0 15px 0 0;
	}

/* ABOUT US PAGE
------------------------------------------------------------ */
.teamList {
	padding-top: 5px;
	}
.teamList h6 {
	color: #F06B29;
	margin-bottom: 5px;
}
.teamList li {
	margin-bottom: 30px;
	overflow: hidden;
	}
.teamList .photo {
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 20px;
	}
.teamList .info {
	padding-left: 80px;
	}

/* PROJECT DETAILS PAGE
------------------------------------------------------------ */
.projectDetailsImg {
	margin-bottom: 30px;
	}
	
/* PORTFOLIO PAGES
------------------------------------------------------------ */
.portfolio {
	text-align: center;
}
.portfolio .grid_3 {
	margin-bottom: 30px;
	}
.projectInfo {
	margin-top: 5px;
	}
.portfolio h5 {
	margin-bottom: 5px;
	}
	
.portfolio p {
	margin-bottom: 10px;
	}

.twoColumnPortfolio li.grid_6 {
	margin-bottom: 35px;	
	}
.singleColumnPortfolio {
	text-align: left;
	}	
.singleColumnPortfolio h5 {
	margin: 0 0 15px 0;
	}
.singleColumnPortfolio li.main {
	margin-bottom: 35px;
	}
.singleColumnPortfolio .image {
	text-align: right;
	}
	
/* CONTACT US PAGE
------------------------------------------------------------ */
#contactform .sep {
	margin:	0 0 1em 0;
	}
#contactform .buttonAlign {
	margin-left: 146px;
	}
.contactMap {
	border: 1px solid #fff;
	margin: 0 0 30px 0;
	}
address.main {
	margin-bottom: 1em;
	font-style: normal;
	}
#contactform textarea {
	width: 270px;
	height: 100px;
	}
#contactform .loader {
	padding: 0 10px;
	}
	
/* ERROR 404 PAGE
------------------------------------------------------------ */
.errorNotFound {
	width: 400px;
	margin: 50px auto;
	}
.errorNotFound .errorImg {
	background: url("../images/error.png") no-repeat;
	width: 204px;
	height: 99px;
	margin: 0 auto 15px auto;
	}
.errorNotFound h2 {
	margin-bottom: 30px;
	color: #828588;
	text-shadow: 0 1px 0 #fff;
	font-size: 2.5em;
}
.errorNotFound .info {
	text-align: center;
}
.errorNotFound .info p {
	font-size: 1.2em;
}
/* END STYLES FOR SPECIFIC PAGES
------------------------------------------------------------ */
	
	
/* FOOTER
------------------------------------------------------------ */
footer {
	background:	url('../images/footer-bg.jpg') repeat left top;
	padding-top: 30px;
	border-top: 1px solid #fff;
	margin:	0 auto;
	text-align: left;
	color: #b0b9bf;
	font-weight: normal;
	text-shadow: 0 -1px 0 #3b4144;
	-moz-box-shadow: inset 0 0 25px rgba(0, 0, 0, .4);
	-webkit-box-shadow: inset 0 0 25px rgba(0, 0, 0, .4);
	box-shadow: inset 0 0 25px rgba(0, 0, 0, .4);
	}
footer .grid_12 {
	margin: 0 auto;
	padding-bottom: 20px;
	}	
footer h5 {
	font-size: 1.4em;
	margin-bottom: 1em;
	color: #b0b9bf;
	text-shadow: 0 -1px 0 #3b4144;
	}
footer .squareList li {
	background: url('../images/lists/square_footer.png') no-repeat left 6px;	
	}	
footer a {
	color: #b0b9bf;	
	}
footer a:hover {
	color: #ff7747;
	}	
footer p {
	margin-bottom: 10px;
	}
footer blockquote {
	background: transparent url('../images/quoteDark.png') no-repeat left top!important;
	}

/* SOCIAL MEDIA LINKS
------------------------------------------------------------ */
.socialLinks {
	margin: 10px 0 0 0;
	}
.socialLinks li {
	display: inline-block;
	width: 39px;
	height: 29px;
	padding-top: 10px;	
	text-align: center;
	}
.lt-ie8 .socialLinks li {
	display: inline;
	zoom: 1;
	}
.socialLinks li:hover {
	width: 39px;
	height: 29px;
	background: url("../images/social_media/circle_over.png") no-repeat;
		
	}	
.socialLinks a {
	display: inline-block;
	width: 15px;
	height: 20px;
	text-align: center;
	margin: 0 auto;	
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	}

.socialLinks a.facebook {
	background: url("../images/social_media/facebook.png") no-repeat left -40px;
	}
.socialLinks li:hover a.facebook {
	background-position: left top;	
	}
.socialLinks a.twitter {
	width: 22px;	
	background: url("../images/social_media/twitter.png") no-repeat left -40px;
	}
.socialLinks li:hover a.twitter {
	background-position: left top;	
	}
.socialLinks a.rss {
	width: 18px;
	background: url("../images/social_media/rss.png") no-repeat left -40px;
	}
.socialLinks li:hover a.rss {
	background-position: left top;	
	}	
.socialLinks a.linkedin {
	background: url("../images/social_media/linkedin.png") no-repeat left -40px;
	}
.socialLinks li:hover a.linkedin {
	background-position: left top;	
	}
	
/* COPYRIGHT AREA
------------------------------------------------------------ */	
.copyright {
	background:	rgba(45, 45, 45, .1) url("../images/dark_line_sep.jpg") repeat-x top left;
	padding: 15px 0;
	}
.lt-ie9 .copyright {
	background:	#565d61 url("../images/dark_line_sep.jpg") repeat-x top left;	
	}	
.copyright .grid_12 {
	padding: 0;
	}
.copyright p {
	margin: 0;
	}