body {
	background: url('../img/body-bg.jpg') repeat  top left;
	font: 80%/1.6em Helvetica, Arial, sans-serif;
	color: #363636;	
	margin: 0;
	padding: 0;
}

.sideMenu {
	width: 200px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px 0;
	height: 100%;
	background: #333c41;
	border-right: 1px solid #000;	
}
.sideMenu .logo {
	text-align: center;
	margin-bottom: 35px;
	color: #8c9ea8;
	text-shadow: 0 -1px 0 #000;
}
.sideMenu li {
	border-bottom: 1px solid #444d53;
	margin: 8px 0;
}
.sideMenu a {
	color: #dbe0e4;
	display: block;
	border-bottom: 1px solid #000;	
	padding: 0 10px 8px 10px;
	margin: 0 0px;
	text-shadow: 0 -1px 0 #000;
}
.sideMenu a:hover {
	color: #8ed2f5;
	background: none!important;
	text-decoration: none;
	color: #81c1e2;
	margin-left: 4px;
	-o-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.mainArea {
	padding-left: 230px;
	padding-right: 30px;
	padding-top: 40px;
}
.mainArea h1.top {
	margin-bottom: 20px;
}
.page-header {
	border-bottom: 1px solid #b2b2b2;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: #adb3b8;
}
.mainArea h1 {
	font-weight: normal;
	font-size: 26px;
	color: #697076;
	text-shadow: 0 1px 0 #fff;	
	
}
h3 {
	color: #81898f;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #fff;	
}
ul li {
	margin-bottom: 10px;
}
.hero-unit {
	background: #e3e3e3;
	background:	rgba(70, 70, 70, 0.1);
	padding: 1em;
	border: 1px solid #fff;
	text-shadow: 0 1px 0 #fff;
	border-top: none;
	margin-bottom: 1.5em;	
}
.clear {
	clear: both;
}
section {
	padding-top: 20px;
}
.goodbye {
	margin: 50px 0;
}
.goodbye p {
	margin: 0;
}
.mainArea .prettyprint.linenums,
.mainArea .table-bordered {
	border: 1px solid #b1b2b2;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}